/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto Mono', monospace;
	background:#fff;
}

h1 {
	font-family:lato, sans-serif;
	font-size: 3em;
	letter-spacing: 5px;
	background: skyblue;

}

h2 {
	font-size: 2em;
}

a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	color: #050505;
	padding: 20px 5px;
	transition:all 0.5s;	
}

a:hover {
  background:rgba(0,0,0,0.3);
}

ul {
	list-style: none;
}

p {
	font-size: 18px;
}

iframe {
	width: 100%;
}

input {
 	padding:10px;
 	border:0;
}

.header, .signup, .headline, .headline > h2 {
  	margin:20px 0;
} 

h1, .navigation, .headline, .signup, .social, .copyright {
	text-align: center;
}

a:last-child {
	text-align: left;
	display: inline;
}

.copyright > p {
	color:gray;
	display: inline;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.navigation {
	background:yellow;
}

.headline{
	background: pink;
}

.signup  {
	background: #050505;
	padding: 20px;
	margin: 20px 0;
}

/*input {
	margin-right:-3px;
}
*/
.footer {
	background: lightgreen;
}

.toggleNav {
  display: none;
}


/* FLEX CONTAINERS */

.navigation ul {
	display: flex;
	border:1px solid black;
}

.footer ul {
	display: flex;
}

/* FLEX ITEMS */

.navigation li {
	flex:3;
	margin: 20px 0;
}

.footer li {
	flex:3;
	margin: 20px 0;
}


/*MEDIA QUERIES*/

@media all and (max-width:500px) {


}
