/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto Mono', monospace;
	background:#fff;
}

h1 {
	font-family:lato, sans-serif;
	font-size: 4rem;
	letter-spacing: 5px;
}

h2 {
	font-size: 2em;

}

p {
	font-size: 18px;
}

h1 a, .navigation a, p a {
	text-decoration: none;
	color: #050505;
	padding: 20px;
}

ul a {
	text-decoration: none;
	width: 100%;
	color: #050505;
	padding: 20px 50px;
	display: inline-block;
}

li a:hover {
  background:rgba(0,0,0,0.3);
}

ul {
	list-style: none;
}

iframe {
	width: 100%;
}

input {
 	padding:10px;
 	border:0;
}

.header, .signup, .signup > p, .headline {
  	margin:20px 0;
} 

.header, .navigation, .headline, .signup {
	text-align: center;
}

.copyright a:last-child {
	/*text-align: left;*/
	display: inline;
	padding: 0;
}

.copyright > p {
	color:gray;
	display: inline;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.header {
	padding: 5px 0;
	background: lightgray;
}

.navigation {
	background: lightgray;
}

.headline{
	background: lightgray;
	padding-top: 10px;
}

.signup  {
	background: lightgray;
	padding: 20px;
	margin: 20px 0;
}

.footer {
	background: lightgray;
}

.toggleNav {
  display: none;
}


/* FLEX CONTAINERS */

.navigation ul {
	display: flex;
}

.footer ul {
	display: flex;
	flex-wrap: wrap;
}

/* FLEX ITEMS */

.navigation li {
	flex: 1;
	margin: 20px 0;
}

.social li {
	flex: 1;
	margin: 20px 0;
}

.copyright li {
	flex: 1;
}

/*MEDIA QUERIES*/

/*@media all and (max-width:500px) {
	.social {
		flex-basis: 10%;
	}

	.copyright {
		flex-basis: 90%;
	}
}*/

@media all and (max-width:767px) {

.navigation li {
	flex-basis: 100%;
}

/* FLEX ITEMS*/

.nav-items {
	flex-direction: column;
}

.toggleNav {
  display: block;
}

.navigation ul {
  display: none;
}

.navigation ul.open {
  display: block;
}

}
