/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto Mono', monospace;
	background:#fff;
}

h1 {
	font-family:lato, sans-serif;
	font-size: 3em;
	letter-spacing: 5px;
	background: lightgray;

}

h2 {
	font-size: 2em;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
	width: 100%;
	color: #050505;
	padding: 10px 5px;	
	display: inline-block;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

ul {
	list-style: none;
}

iframe {
	width: 100%;
}

input {
 	padding:10px;
 	border:0;
}

.header, .signup, .signup > h2, .signup > p, .headline, .headline > h2 {
  	margin:20px 0;
} 

.header, .navigation, .headline, .signup, .social, .copyright {
	text-align: center;
}

a:last-child {
	text-align: left;
	display: inline;
}

.copyright > p {
	color:gray;
	display: inline;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.navigation {
	background: lightgray;
}

.headline{
	background: lightgray;
	padding-top: 10px;
}

.signup  {
	background: lightgray;
	padding: 20px;
	margin: 20px 0;
}

.footer {
	background: lightgray;
}

.toggleNav {
  display: none;
}


/* FLEX CONTAINERS */

.navigation ul {
	display: flex;
}

.footer ul {
	display: flex;
}

/* FLEX ITEMS */

.navigation li {
	flex:3;
	margin: 20px 0;
}

.footer li {
	flex:3;
	margin: 20px 0;
}


/*MEDIA QUERIES*/

@media all and (max-width:767px) {

.navigation li {
	flex-basis: 100%;
}

/*FLEX CONTAINERS*/

#wrapper {
	display: flex;
	flex-direction: column;
}

.nav-items {
	flex-direction: column;
}

/*FLEX ITEMS*/

/*#wrapper > * {
  order:9999;
}*/

/*.navigation {
	order: 1;
}*/

.toggleNav {
  display: block;
}

.navigation ul {
  display: none;
}

.navigation ul.open {
  display: block;
}

}
